/* Allgemeine Stile */
body {
    background-image: url('C:\Users\anabe\Documents\Programmieren\pimsiedesigns\Bilder\wolken.png'); /* Hier den Pfad zum Bild angeben */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f5f5; /* Sanftes Grau als Fallback */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container für die Überschrift */
.container {
    text-align: center;
}

/* Stil für den Titel */
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 4rem;
    font-weight: 700;
    background: linear-gradient(to right, #5a7d5a, #cfa0e9);
    background-clip: text;
    color: transparent;
}